.alert-message{
    margin: 11px;
}

.form-control.error {
    border-color: #dc3545;
    padding-right: 2.25rem!important;
}

.period-menu {
    color: #ffffff;
    font-size: 13px;
    text-shadow: 0 1px 0 #000000;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
  }
