/*override login css*/

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
}

.password {
    margin-bottom: 23px;
}
.error{
    /* position: absolute; */
    top: 68px;
    left: 0;
    color:#dc3545;
    font-size: 80%;
    font-weight: 700;
}
.back,.save{
    outline:none;
    border:none;
    width:48%;
    height:40px;
    border-radius: 30px;
    color:#fff;
    font-size:18px;
    font-weight: 700;
    text-align: center;
    background-size:200%;
    box-shadow: 1px 1px 2px #b1b1b1,
                -1px -1px 2px #fff;
    transition: .5s;
    cursor: pointer; 
}

.back{
    background-image: linear-gradient(to right,#485563 0%,#3f4348 51%,#485563 100%);
    float:left;
    text-decoration: none;
    line-height: 40px;
}
.save{
   
    background-image: linear-gradient(to right,#4d7496 0%,#4d7496 51%,#4d7496 100%);
    float:right;
    line-height: 40px;
}